In [39]:
import geopandas as gpd
from shapely.wkt import loads
import pandas as pd
from shapely.geometry import MultiPolygon

In [40]:
lehd_od = gpd.read_file('data/ca_od_aux_JT00_2021.csv').drop(columns=['geometry'])

In [47]:

lehd_od['h_geocode']=lehd_od['h_geocode'].astype(float)
lehd_od['h_geocode']=lehd_od['h_geocode'].apply(lambda x: '{:.0f}'.format(x))

In [49]:
pd.options.display.float_format = '{:.0f}'.format

lehd_od['w_block'] = lehd_od['w_geocode'].str.strip().str[-4:]

In [50]:
lehd_od['w_tract'] = lehd_od['w_geocode'].str.strip().str[-10:-4]
lehd_od['h_tract'] = lehd_od['h_geocode'].str.strip().str[-10:-4]

In [54]:
lehd_od[lehd_od['w_tract']=='006200']

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate,w_block,w_tract,h_tract
143982,060730062001000,10059508002000,1,0,1,0,0,0,1,0,1,0,20231016,1000,006200,950800
143983,060730062001000,10810406032000,1,0,1,0,0,1,0,0,1,0,20231016,1000,006200,040603
143984,060730062001000,40030003041009,1,0,0,1,0,0,1,0,1,0,20231016,1000,006200,000304
143985,060730062001000,40030003051086,1,0,1,0,0,0,1,0,0,1,20231016,1000,006200,000305
143986,060730062001000,40030004001080,1,0,0,1,0,0,1,0,1,0,20231016,1000,006200,000400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144454,060730062001008,40138128022000,1,1,0,0,0,1,0,0,1,0,20231016,1008,006200,812802
144455,060730062001008,40138144001005,1,0,1,0,0,0,1,0,1,0,20231016,1008,006200,814400
144456,060730062001008,40138169012007,1,0,1,0,0,0,1,0,1,0,20231016,1008,006200,816901
144457,060730062001008,320030000000000,1,0,1,0,1,0,0,0,1,0,20231016,1008,006200,000000
203585,061110062002007,510131000000000,1,0,1,0,0,1,0,0,0,1,20231016,2007,006200,100000