In [30]:
import pandas as pd

In [31]:
df = pd.read_csv("dt_data.csv")

In [32]:
df = df.rename(columns={'CR01': 'White', 'CR02': 'Black', "CR03": "Native American", "CR04": "Asian", "CR05": "Hawaiian" , "CR07": "Two or more", "CT02": "Hispanic"})
df.head()

,the_geom,OBJECTID_left,Tier,Name,centroid_x,centroid_y,index_right,w_geocode,C000,CA01,...,createdate,OBJECTID_right,GEOID20,GEOID,CT,BLOCK,CTBLOCK,Shape_Length,Shape_Area,centroid
0,MULTIPOLYGON (((-117.163767903146 32.731373761...,18,1,Downtown,POINT (-117.16104895176095 32.71578921178485),0.0,15005,60730054032005,66,13,...,20231016,3944,60730054032005,6073005403,5403,2005,54032005,1468.098821,94014.593714,POINT (-117.16871201505217 32.71168348500209)
1,MULTIPOLYGON (((-117.163767903146 32.731373761...,18,1,Downtown,POINT (-117.16104895176095 32.71578921178485),0.0,15983,60730059001014,57,9,...,20231016,4130,60730059001014,6073005900,5900,1014,59001014,1323.783090,107165.561191,POINT (-117.16072869025852 32.727734488366636)
2,MULTIPOLYGON (((-117.163767903146 32.731373761...,18,1,Downtown,POINT (-117.16104895176095 32.71578921178485),0.0,15981,60730059001014,153,16,...,20231016,4130,60730059001014,6073005900,5900,1014,59001014,1323.783090,107165.561191,POINT (-117.16072869025852 32.727734488366636)
3,MULTIPOLYGON (((-117.163767903146 32.731373761...,18,1,Downtown,POINT (-117.16104895176095 32.71578921178485),0.0,15982,60730059001014,88,5,...,20231016,4130,60730059001014,6073005900,5900,1014,59001014,1323.783090,107165.561191,POINT (-117.16072869025852 32.727734488366636)
4,MULTIPOLYGON (((-117.163767903146 32.731373761...,18,1,Downtown,POINT (-117.16104895176095 32.71578921178485),0.0,15978,60730059001014,153,16,...,20231016,4130,60730059001014,6073005900,5900,1014,59001014,1323.783090,107165.561191,POINT (-117.16072869025852 32.727734488366636)

In [33]:
df.columns

Index(['the_geom', 'OBJECTID_left', 'Tier', 'Name', 'centroid_x', 'centroid_y',
       'index_right', 'w_geocode', 'C000', 'CA01', 'CA02', 'CA03', 'CE01',
       'CE02', 'CE03', 'CNS01', 'CNS02', 'CNS03', 'CNS04', 'CNS05', 'CNS06',
       'CNS07', 'CNS08', 'CNS09', 'CNS10', 'CNS11', 'CNS12', 'CNS13', 'CNS14',
       'CNS15', 'CNS16', 'CNS17', 'CNS18', 'CNS19', 'CNS20', 'White', 'Black',
       'Native American', 'Asian', 'Hawaiian', 'Two or more', 'CT01',
       'Hispanic', 'CD01', 'CD02', 'CD03', 'CD04', 'CS01', 'CS02', 'CFA01',
       'CFA02', 'CFA03', 'CFA04', 'CFA05', 'CFS01', 'CFS02', 'CFS03', 'CFS04',
       'CFS05', 'createdate', 'OBJECTID_right', 'GEOID20', 'GEOID', 'CT',
       'BLOCK', 'CTBLOCK', 'Shape_Length', 'Shape_Area', 'centroid'],
      dtype='object')

In [43]:
dt_race = df[["White", "Black", "Native American", "Asian", "Hawaiian", "Hispanic","Two or more"]].sum().to_frame()#.to_csv("race_dt.csv")

In [41]:
df

,the_geom,OBJECTID_left,Tier,Name,centroid_x,centroid_y,index_right,w_geocode,C000,CA01,...,createdate,OBJECTID_right,GEOID20,GEOID,CT,BLOCK,CTBLOCK,Shape_Length,Shape_Area,centroid
0,MULTIPOLYGON (((-117.163767903146 32.731373761...,18,1,Downtown,POINT (-117.16104895176095 32.71578921178485),0.0,15005,60730054032005,66,13,...,20231016,3944,60730054032005,6073005403,5403,2005,54032005,1468.098821,94014.593714,POINT (-117.16871201505217 32.71168348500209)
1,MULTIPOLYGON (((-117.163767903146 32.731373761...,18,1,Downtown,POINT (-117.16104895176095 32.71578921178485),0.0,15983,60730059001014,57,9,...,20231016,4130,60730059001014,6073005900,5900,1014,59001014,1323.783090,107165.561191,POINT (-117.16072869025852 32.727734488366636)
2,MULTIPOLYGON (((-117.163767903146 32.731373761...,18,1,Downtown,POINT (-117.16104895176095 32.71578921178485),0.0,15981,60730059001014,153,16,...,20231016,4130,60730059001014,6073005900,5900,1014,59001014,1323.783090,107165.561191,POINT (-117.16072869025852 32.727734488366636)
3,MULTIPOLYGON (((-117.163767903146 32.731373761...,18,1,Downtown,POINT (-117.16104895176095 32.71578921178485),0.0,15982,60730059001014,88,5,...,20231016,4130,60730059001014,6073005900,5900,1014,59001014,1323.783090,107165.561191,POINT (-117.16072869025852 32.727734488366636)
4,MULTIPOLYGON (((-117.163767903146 32.731373761...,18,1,Downtown,POINT (-117.16104895176095 32.71578921178485),0.0,15978,60730059001014,153,16,...,20231016,4130,60730059001014,6073005900,5900,1014,59001014,1323.783090,107165.561191,POINT (-117.16072869025852 32.727734488366636)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3012,MULTIPOLYGON (((-117.163767903146 32.731373761...,18,1,Downtown,POINT (-117.16104895176095 32.71578921178485),0.0,16082,60730059003007,2,0,...,20231016,4151,60730059003007,6073005900,5900,3007,59003007,1314.685027,105385.445239,POINT (-117.16883873301917 32.73047880145796)
3013,MULTIPOLYGON (((-117.163767903146 32.731373761...,18,1,Downtown,POINT (-117.16104895176095 32.71578921178485),0.0,16084,60730059003007,7,1,...,20231016,4151,60730059003007,6073005900,5900,3007,59003007,1314.685027,105385.445239,POINT (-117.16883873301917 32.73047880145796)
3014,MULTIPOLYGON (((-117.163767903146 32.731373761...,18,1,Downtown,POINT (-117.16104895176095 32.71578921178485),0.0,16085,60730059003007,4,0,...,20231016,4151,60730059003007,6073005900,5900,3007,59003007,1314.685027,105385.445239,POINT (-117.16883873301917 32.73047880145796)
3015,MULTIPOLYGON (((-117.163767903146 32.731373761...,18,1,Downtown,POINT (-117.16104895176095 32.71578921178485),0.0,16653,60730061002027,70,21,...,20231016,4258,60730061002027,6073006100,6100,2027,61002027,1032.464995,52067.623580,POINT (-117.16989283527637 32.73126026969912)
3016,MULTIPOLYGON (((-117.163767903146 32.731373761...,18,1,Downtown,POINT (-117.16104895176095 32.71578921178485),0.0,16658,60730061002027,18,7,...,20231016,4258,60730061002027,6073006100,6100,2027,61002027,1032.464995,52067.623580,POINT (-117.16989283527637 32.73126026969912)

In [35]:
df2 = pd.read_csv("region_data.csv")

In [37]:
df2 = df2.rename(columns={'CR01': 'White', 'CR02': 'Black', "CR03": "Native American", "CR04": "Asian", "CR05": "Hawaiian" , "CR07": "Two or more", "CT02": "Hispanic"})
#df2.head()

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,createdate,the_geom,OBJECTID,GEOID20,GEOID,CT,BLOCK,CTBLOCK,Shape_Length,Shape_Area
0,60730001001000,4,0,0,4,0,0,4,0,0,...,20231016,MULTIPOLYGON (((-117.186596327046 32.758617222...,1,60730001001000,6073000100,100,1000,1001000,12547.845184,2.844805e+06
1,60730001001000,7,5,0,2,0,5,2,0,0,...,20231016,MULTIPOLYGON (((-117.186596327046 32.758617222...,1,60730001001000,6073000100,100,1000,1001000,12547.845184,2.844805e+06
2,60730001001000,11,4,5,2,0,0,11,0,0,...,20231016,MULTIPOLYGON (((-117.186596327046 32.758617222...,1,60730001001000,6073000100,100,1000,1001000,12547.845184,2.844805e+06
3,60730001001000,5,0,5,0,0,0,5,0,0,...,20231016,MULTIPOLYGON (((-117.186596327046 32.758617222...,1,60730001001000,6073000100,100,1000,1001000,12547.845184,2.844805e+06
4,60730001001000,9,9,0,0,0,5,4,0,0,...,20231016,MULTIPOLYGON (((-117.186596327046 32.758617222...,1,60730001001000,6073000100,100,1000,1001000,12547.845184,2.844805e+06

In [44]:
region_race = df2[["White", "Black", "Native American", "Asian", "Hawaiian", "Hispanic","Two or more"]].sum().to_frame()#.to_csv("race_region.csv")

In [48]:
out = pd.merge(region_race, dt_race, left_index=True, right_index=True)#.to_csv("race_region.csv")

In [51]:
out.to_csv("race_all.csv")

In [64]:
out = out.T.reset_index(drop=True)

In [68]:
region = ["Region", "Downtown"]

In [71]:
out["Location"] = region

In [73]:
out.to_csv("race_all.csv")